DATABASE_URL=postgresql://neondb_owner:npg_2vVxlwSkacu6@ep-crimson-frost-a4wfx0co-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require
DIRECT_URL=localhost:3000

AUTH_SECRET=dohdoagd

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

RESEND_API_KEY=

NEXT_PUBLIC_APP_URL="http://localhost:3000"
